[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
uwsgi = "*"
flask-jwt = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.7.0"
